<div ng-controller="quizCtrl" ng-init="quizinit()" >
<div class="row">
    <div class="navbar-fixed" id="top-nav">
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo col s1"><img src="img/skoolers-logo-temp1.png" alt="" style="max-width: 75%;"/></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="">Sass</a></li>
                    <li><a href="">Components</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="row">
<div class="skill col s1">
   <!--  <button ng-click="startTime()">Show value</button> -->
    <div class="outer">
        <div class="inner" ></div>
    </div>
</div>
    <div class="container">
        <div class="single-option">
            <br/>
            <h4 class="q-question center-align">{{quiz.question}}</h4>
   <question-options-two></question-options-two>
            <!-- <div class="col s12">
                <div class="card q-option valign-wrapper">
                    <a href="" class="valign col s11">
                        <div class="card-content">
                            <span class="card-title black-text">
                                <span class="opt-no">b) </span>
                                 This is one of the options
                            </span>
                        </div>
                    </a>

                    <div class="col s1">
                        <input class="with-gap" name="group1" type="checkbox" id="opt2"/>
                        <label for="opt2" class="right"></label>
                    </div>
                </div>
            </div>

            <div class="col s12">
                <div class="card q-option valign-wrapper">
                    <a href="" class="valign col s11">
                        <div class="card-content">
                            <span class="card-title black-text">
                                <span class="opt-no">c) </span>
                                 This is one of the longer options. It will test how an options shows up when the text is reatively longer in lenght and number of words
                            </span>
                        </div>
                    </a>

                    <div class="col s1">
                        <input class="with-gap" name="group1" type="checkbox" id="opt3"/>
                        <label for="opt3" class="right"></label>
                    </div>
                </div>
            </div>

            <div class="col s12">

                <div class="card q-option valign-wrapper">
                    <a href="" class="valign col s11">
                        <div class="card-content">
                            <span class="card-title black-text">
                                <span class="opt-no">d) </span>
                                 Last Option
                            </span>
                        </div>
                    </a>

                    <div class="col s1">
                        <input class="with-gap" name="group1" type="checkbox" id="opt4"/>
                        <label for="opt4" class="right"></label>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="s12 col">
            <button class="right btn yellow black-text" ng-click="nextQuestion()">Continue</button>
        </div>
        <div class="multi-option">

        </div>
    </div>
</div>
</div>